@font-face {
  font-family: 'iconfont';  /* project id 875029 */
  src: url('//at.alicdn.com/t/font_875029_mplsxgdoyd.eot');
  src: url('//at.alicdn.com/t/font_875029_mplsxgdoyd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_875029_mplsxgdoyd.woff') format('woff'),
  url('//at.alicdn.com/t/font_875029_mplsxgdoyd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_875029_mplsxgdoyd.svg#iconfont') format('svg');
}
.test {
        font-family: iconfont;
        font-size: 28rpx;
    }