@font-face {
  font-family: 'iconfont';  /* project id 911385 */
  src: url('//at.alicdn.com/t/font_911385_8sdvppng7vf.eot');
  src: url('//at.alicdn.com/t/font_911385_8sdvppng7vf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_911385_8sdvppng7vf.woff') format('woff'),
  url('//at.alicdn.com/t/font_911385_8sdvppng7vf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_911385_8sdvppng7vf.svg#iconfont') format('svg');
}

.test {
        font-family: iconfont;
        font-size: 28rpx;
    }